.body {
  height: 100vh;
  overflow-y: scroll;
}

.cards {
  position: relative;
  width: 50vw;
  min-width: 450px;
  padding: 20px;
  pointer-events: none;
}

.viewer-wrapper {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
}

.viewer-wrapper .sticky {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  min-width: 400px;
  height: 100vh;
  justify-content: center;
}

.viewer-wrapper .svg-viewer {
  width: 100%;
  height: 100%;
}

.cards textarea {
  display: block;
  width: 100%;
  height: 60px;
  padding: 15px;
  resize: vertical;
}

.card {
  pointer-events: initial;
  position: relative;
  margin: 0 10px 20px;
  background: white;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
}

code {
  background: rgba(0, 0, 0, 0.05);
  padding: 3px 5px;
}

.cards ul {
  padding-left: 25px;
}

.cards li {
  padding: 0;
}

.cards li + li {
  padding-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.help-link {
  text-decoration: underline dotted black;
  text-underline-position: under;
  cursor: help;
  color: black;
}

.explanations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

.explanations .animation-wrapper {
  padding: 30px 10px 20px 30px;
}

/* Give space to see the svg below */
@media all and (max-width: 850px) {
  .cards {
    margin-bottom: calc(100vh - 80px);
  }
}

@media all and (max-width: 450px) {
  .cards,
  .sticky {
    width: 100vw;
    min-width: 0;
  }
}

.cancel-button {
  position: absolute;
  padding: 10px;
  right: 0;
  top: 0;
  background: transparent;
  border: 0;
  font-size: 16px;
  color: #0074d9;
  cursor: pointer;
  text-decoration: none;
}

.done-button {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  color: #0074d9;
  cursor: pointer;
  text-decoration: none;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
