.examples {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  -ms-overflow-style: none;
}

.examples::-webkit-scrollbar {
  display: none;
}

.example {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background: white;
}

.example + .example {
  margin-left: 10px;
}

.example.example-selected {
  box-shadow: 0px 0px 10px rgba(0, 110, 255, 0.2);
}

.example svg {
  display: block;
  width: 50px;
  margin: auto;
}
